"subject","sample","replicate","breakReadLinkerBarcode.start","breakReadLinkerBarcode.end","breakReadLinkerSeq","index1Seq","virusLTRseq","refGenomeBLATdb","virusRead.overReadSeq","breakRead.overReadSeq","breakReadLinkerRandomID.start","breakReadLinkerRandomID.end","refGenomeBWAdb"
"pM50","GTSP2160",1,1,20,"TACGCTATGTCGACCGTGACNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM50","GTSP2161",1,1,20,"GTAGGTCTAAAGCGGGCAAGNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM50","GTSP2162",1,1,20,"GACTAACGACCGAGATTGGCNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM66","GTSP2163",1,1,20,"CGGTCAGCATTCGTTGGTAGNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM66","GTSP2164",1,1,20,"GAAGAACTTCGCCTCTAGGCNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM66","GTSP2165",1,1,20,"GTACGCCATCGTGTTTCCTGNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM06","GTSP2175",1,1,20,"TGTGAACGCGAGAACCTCTGNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM06","GTSP2176",1,1,20,"TCCTCGGACAGACTACCTAGNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
"pM06","GTSP2177",1,1,20,"TACGGCGAACGACAAGGCATNNNNNNNNNNNNCTCCGCTTAAGGGACT","TCGTTGGATGGT","u,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCG;5p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGGGCGACCAAAGGTCGCCCGACGCCCGGGCTTTGCCCGGGCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG;3p,AACCCCTAGTGATGGAGTTGGCCACTCCCTCTCTGCGCGCTCGCTCGCTCACTGAGGCCGCCCGGGCAAAGCCCGGGCGTCGGGCGACCTTTGGTCGCCCGGCCTCAGTGAGCGAGCGAGCGCGCAGCTG","/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector.2bit","AGTCCCTTAAGCGGAG","CCTTGTAGTTAATGATTAAC",21,32,"/home/everett/releases/Sabatino_canine_hemophilia_AAV/data/sequenceData/singleChainVector"
