AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.1
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.1
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.2
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.3
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.2
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.4
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.3
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.5
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.6
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.4
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.7
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.5
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.8
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.6
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.9
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.10
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.7
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.11
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.8
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.12
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.9
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.13
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.10
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.14
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.15
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.11
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.16
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.12
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.17
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.13
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.18
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.19
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.14
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.20
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.15
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.21
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.22
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.16
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.23
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.17
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.24
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.25
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.18
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.26
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.19
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.27
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.28
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.20
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.29
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.21
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.30
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.22
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.31
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.32
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.23
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.33
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.34
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.24
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.35
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.25
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.36
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.26
AAVengeR/outputs/vectors_heavy/seqChunks/breakReads.37
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.27
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.28
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.29
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.30
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.31
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.32
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.33
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.34
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.35
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.36
AAVengeR/outputs/vectors_heavy/seqChunks/virusReads.37
AAVengeR/outputs/canFam3/alignments.RData
data/sequencingData/Undetermined_S0_L001_I1_001.fastq.gz
data/sequencingData/Undetermined_S0_L001_R2_001.fastq.gz
data/sequencingData/Undetermined_S0_L001_R1_001.fastq
data/sequenceData/canFam3.2bit
data/sequenceData/canFam3.bwt
data/sequenceData/canFam3.pac
data/sequenceData/canFam3.sa
data/report.RData
